* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    z-index: 2;
    top: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    background-color: white;
    height: 75px;
    margin-right: 100px;
    margin-left: 100px;
}

.head {
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
}

img {
    width: 60px;
    height: 53px;
    align-self: center;
    cursor: pointer;
}

a {
    align-self: center;
    text-decoration: none;
    color: black;
    margin: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.para {
    align-self: center;
    text-decoration: none;
    padding: 12px;
    width: 114px;
    background-color: #e63951;
    cursor: pointer;
    color: white;
    margin: 15px;
    border-radius: 12px;
    justify-self: center;
}

.slider {
    width: 90%;
    height: 4px;
    background: #ddd;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
}


.map-container {
    width: 97%;
    max-width: 600px;
    height: 600px;
    /* border: 2px solid black; */

}

.map-container iframe {
    width: 99%;
    border: none;
    height: 99%;
    border-radius: 17px;
}

.bedroom>h4 {
    color: #222222;
    font-size: 20px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.bedroom>p {
    color: #6b6b6b;
    font-size: 17px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
}

.first {
    height: 80vh;
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first_half {
    /* border: 2px solid green; */
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 190px;
    align-items: center;
    height: 600px;
    gap: 6px;
}

.search {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 7px;
    cursor: pointer;
    border-radius: 16px;
    border: 2px solid #dddddd;
    gap: 11px;
    height: 7vh;
    width: 20vw;

}

.first_half>h2 {
    color: #e63951;
    font-size: 50px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.first_half>h3 {
    color: #222222;
    font-size: 46px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.first_half>h4 {
    color: #222222;
    font-size: 46px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.first_half>p {
    color: #222222;
    font-size: 20px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
}

.first_half>a {
    color: #6b6b6b;
    font-size: 20px;
    text-decoration: underline;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-variation-settings: "wdth" 100;

}

.second_half {
    border-radius: 17px;
    margin-left: 39px;
}


/* Second */
.second {
    height: 80vh;
    text-align: center;
}

.second img {
    height: 86%;
    width: 100%;
    /* margin-top: 20px; */
}

.second h1 {
    color: #222222;
    font-size: 50px;
    padding-top: 12px;
    margin-top: 20px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Three */
.three {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin-top: 20px;
    padding: 20px;
}

.one h2 {
    color: #222222;
    font-size: 20px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.one p {
    color: #898989;
    font-size: 19px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
}

/* Four */
.four {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 110vh;
    /* border: 2px solid red; */
    margin-top: 20px;
    padding: 20px;
}

.four h1 {
    color: #222222;
    font-size: 44px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.cover {
    height: 9vh;
    padding: 20px;
    width: 13vw;
}

.ss {
    margin-top: 8px;
    width: 57vw;
    height: 75vh;
}

.btn {
    margin: 10px;
    border: 2px solid #222222;
    padding: 7px;
    width: 10vw;
    display: flex;
    justify-content: center;
    height: 4vh;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
}

.txt {
    color: #222222;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
}

.btn:hover {
    background-color: #d8d8d8;
}

.five {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    height: 60vh;
    /* border: 2px solid red; */
    background-color: #f7f7f7;
    margin-top: 20px;
    padding: 20px;
}

.onehalf {
    /* border: 2px solid green;*/
    width: 28vw;
    padding: 12px;
    padding-top: 20px;
    margin: 20px;
}

.onehalf h1 {
    color: #222222;
    font-size: 44px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.twohalf {
    /* border: 2px solid purple; */
    padding: 14px;
    margin: 29px;
    width: 42vw;
    height: 46vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pehla {
    /* border: 2px solid green; */
    width: 40vw;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pehla p {
    color: #222222;
    font-size: 24px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

.line {
    width: 99%;
    height: 0px;
    border: 1px solid;
    color: #898989;
}

/* Six */

.six {
    height: 60vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.center {
    background-color: #ffffff;
    width: 85%;
    height: 70%;
    display: flex;
    justify-content: start;
    gap: 100px;
    align-items: center;
    border-radius: 14px;
    /* border: 2px solid black; */
}

.left {
    /* border: 2px solid black; */
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 99%;
}

.dayye {
    width: 99%;
    height: 99%;
}
.right
{
    /* border: 2px solid green; */
    display: grid;
    gap: 12px;
    padding: 20px;
}
.right h2
{
    color: #222222;
    font-size: 38px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.right>p
{
    color: #222222;
    font-size: 20px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}
.but
{
    border: 2px solid black;
    padding: 10px;
    width: 12vw;
    border-radius: 14px;
    cursor: pointer;
}
.but p
{
    color: #222222;
    font-size: 16px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}
.but:hover
{
    background-color: #d8d8d8;
}

/* FOOTER */

.last
{
    padding: 12px;
    font-size: 20px;
    width: 80%;
    margin-top: 3px;
    margin-left: 125px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pratham
{
    display: flex;
    justify-content: start;
    gap: 30px;

}
.pratham p
{
    color: #6b6b6b;
}
.pratham ul
{
    display: flex;
    gap: 30px;
    justify-content: start;
}
.pratham ul li
{
    color: #6b6b6b;
    text-decoration: none;
}
.pratham ul li:hover
{
    text-decoration: underline;
    cursor: pointer;
}
.duity
{
    cursor: pointer;
    gap: 12px;
}
